.header {
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.175);
}

.list {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 2rem;
    font-size: 18px;
    height: 40px;
}

.item {
    height: 100%;
    display: flex;
    align-items: center;
    background: transparent;
    font-size: 18px;
    text-shadow: 0;
    color: white;
    transition: color .2s, text-shadow .2s;
}

.item:hover {
    color: #FFFFFF;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
}

.item:active {
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, 30px -18px 0px rgba(206, 89, 55, 0);
}

.active {
    color: #FFFFFF;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
}